langchain==0.0.337
torch==2.1.1
tiktoken==0.5.1 
chromadb==0.4.17 
pypdf==3.17.1 
transformers==4.35.2 
InstructorEmbedding==1.0.1 
sentence-transformers==2.2.2 
openai==1.3.3
accelerate==0.24.1 
sentencepiece==0.1.99
python-dotenv==1.0.0
PyYAML==6.0.1
bitsandbytes 


